{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=MyJavaWebUnit
Requires=network.target
After=syslog.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=PORT={{ app_port }}
ExecStart=java -jar {{ app_dir }}/{{ app_file }} --server.port={{ app_port }}
Restart=always
